version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: fahad1000mir/one2one-chat:backend-latest
    container_name: one2one-chat-backend
    ports:
      - "8000:8000"
    restart: always